@model CareStream.Models.UsersModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var filter = string.Empty;
}
<script type="text/javascript">
    function confirmDelete(isDelete) {
        $('#Controller').val('Users');
        $('#Action').val('UserDelete');

        if (isDelete) {
            $('#confirmDialog').show('fade');
        } else {
            $('#confirmDialog').hide();
        }

    }


    $(document).ready(function () {

        $('#usertbl').DataTable({
            "language": {
                "search": "",
                "searchPlaceholder": "Search User Name",
            },
            "bLengthChange": false,
            "fixedHeader": {
                "footer": false
            }
        });
        $('#refresh').on('click', function () {
            window.location.reload();
        });

        $('#FilterSubmit').on('click', function () {
            var id = $('#filter').val();
            window.location = "@Url.Action("GetFilteredUsers", "Users")" +
                "?id=" + id;
        });

        unBlockUi();

         if ('@(Model == null || Model.Users == null || Model.Users.Count <= 0)'=='True')
            toggleNoDataFound(false);
    });

</script>

<div id="page-content-wrapper">
    <form>

        <div class="container-fluid no-gutter border-bottom">
            <nav class="navbar navbar-expand-lg navbar-light bg-white pb-0 pt-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a asp-controller="Users"
                               asp-action="Create" class="nav-link pr-2" onclick="blockUi();"><i class="fa fa-plus pr-2"></i>Create User</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" asp-controller="BulkUpload" asp-action="Upload"
                               asp-route-id="Create" onclick="blockUi();"><i class="fa fa-cloud-upload pr-2"></i>Bulk Create</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" asp-controller="BulkUpload" asp-action="Upload"
                               asp-route-id="Invite" onclick="blockUi();"><i class="fa fa-envelope-open-o pr-2"></i>Bulk Invite</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" href="#" id="refresh" onclick="blockUi();"><i class="fa fa-refresh pr-2"></i>Refresh</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" asp-controller="BulkUpload" asp-action="Upload"
                               asp-route-id="Update" onclick="blockUi();"><i class="fa fa-pencil pr-2"></i>Bulk Update</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" asp-controller="BulkUpload" asp-action="Upload"
                               asp-route-id="Delete" onclick="blockUi();"><i class="fa fa-trash-o pr-2"></i>Bulk Delete</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" asp-action="ResetPassword" asp-controller="Account" asp-area="AzureADB2C" onclick="blockUi();"><i class="fa fa-key pr-2"></i>Reset Password</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" id="deleteUsers" href="#" onclick="confirmDelete(true)"><i class="fa fa-trash-o pr-2"></i>Delete</a>
                            @*<button type="button" class="nav-link pr-2" value="Delete"  onclick="confirmDelete(true)">
                                    <i class="fa fa-trash-o pr-2" aria-hidden="true"></i> Delete
                                </button>*@
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link pr-2" asp-controller="BulkUpload" asp-action="DownloadUsers"><i class="fa fa-cloud-download pr-2"></i>Download Users</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        @Html.AntiForgeryToken()
        <div>
            <input type="text" name="filter" id="filter" value="@filter" />
            @*<a asp-controller="Users" asp-action="GetFilteredUsers" asp-route-id="filter" class="btn-primary text-white" onclick="blockUi();">
                    @Html.DisplayName("Filter")
                </a>*@
            <a id="FilterSubmit" class="btn-primary text-white">
                @Html.DisplayName("Filter")
            </a>


        </div>

        <div class="container">
            <table id="usertbl" class="table table-striped border">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectedID1" /> </th>
                        <th></th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Regions</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Users != null && Model.Users.Count > 0)
                    {
                        foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>
                                    @*<input type="checkbox" name="chkboxUser-@item.Id" id="chkboxUser-@item.Id" data-userid="@item.Id" />*@
                                    <input type="checkbox" name="selectedList" id="selectedUser" value="@item.Id" />
                                </td>
                                <td>
                                    <i class="fa fa-user rounded-circle" style="padding:10px;border:2px solid #ccc;"></i>
                                </td>
                                <td>
                                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id" class="text-dark" onclick="blockUi();">
                                        @if (String.IsNullOrWhiteSpace(item.Surname) && @String.IsNullOrWhiteSpace(item.GivenName))
                                        {
                                            @Html.DisplayName("Invited User")
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.GivenName) @Html.DisplayFor(modelItem => item.Surname)
                                        }
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserPrincipalName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Region)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Source)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </form>

</div>