@model List<CareStream.Models.GroupModel>

@{
    ViewData["Title"] = "Group List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content-wrapper">
    <form>
        <div id="lstgroup">
            <div class="container no-gutter border-bottom mb-2">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white pb-0 pt-0">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav mr-auto" id="topBar">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Group" asp-action="Create" id="creategroupclick" onclick="blockUi();">
                                        <i class="fa fa-plus" aria-hidden="true"></i>  Create Group
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" onclick="confirmDelete(true)" id="deletegroup">
                                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" id="refresh" onclick="blockUi();">
                                        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" id="downloadgroups">
                                        <i class="fa fa-download" aria-hidden="true"></i> Download Groups
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row ">
                    <table id="grouptbl" class="table table-striped border" style="width:100%">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectedID1" /> </th>
                                <th>Group Name</th>
                                <th>Group Description</th>
                                <th>Object ID</th>
                                <th>Group Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @*<input type="checkbox" name="chkboxGroup-@item.ObjectId"
                                            id="chkboxGroup-@item.ObjectId" data-groupid=@item.ObjectId />*@
                                        <input type="checkbox" name="selectedList" id="selectedGroup" value="@item.ObjectId" />
                                    </td>

                                    <td>
                                        <a class="text-dark" asp-controller="Group" asp-action="Details" asp-route-id="@item.ObjectId" onclick="blockUi();">  @Html.DisplayFor(modelItem => item.DisplayName)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ObjectId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupType)
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#grouptbl').DataTable({
            "language": {
                "search": "",
                "searchPlaceholder": "Search Group Name",
            },
            "bLengthChange": false,
            "fixedHeader": {
                "footer": false
            }
        });

        $('#refresh').on('click', function () {
            window.location.reload();
        });

        unBlockUi();

         if ('@(Model == null || Model.Count <= 0)'=='True')
            toggleNoDataFound(false);
    });

    function confirmDelete(isDelete) {

        $('#Controller').val('Group');
        $('#Action').val('GroupDelete');

        if (isDelete) {
            $('#confirmDialog').show('fade');
        } else {
            $('#confirmDialog').hide();
            unBlockUi();
        }
    }
</script>